<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Castor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Castor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Castor.Properties.Settings.sqlserverConnection" connectionString="Data Source=DESKTOP-J9NFCEV;Initial Catalog=deps;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Castor.Properties.Settings>
            <setting name="sqliteConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="contextValiant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastConnectedUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedDepId" serializeAs="String">
                <value>2704</value>
            </setting>
            <setting name="StartLoadingPage" serializeAs="String">
                <value>Castor.gui.movebook.Thebook</value>
            </setting>
            <setting name="AskUserBeforeStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RootDepartmentId" serializeAs="String">
                <value>1482</value>
            </setting>
            <setting name="dbPrefix" serializeAs="String">
                <value>\\Server-mis\общая папка\6 отделение</value>
            </setting>
            <setting name="HideClosedCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideDisordered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedDepName" serializeAs="String">
                <value />
            </setting>
            <setting name="DepartmentUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="LastForcedPatientID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdatesRun" serializeAs="String">
                <value>FC;</value>
            </setting>
        </Castor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Castor.Properties.Settings>
            <setting name="postgreeConnection" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfvJm6wKQ20G8cjaXRUwHVQAAAAACAAAAAAAQZgAAAAEAACAAAAAhfOZU5fLkarUroq4TOO8ZagN5Pvp+LS/rKZtr8wYtGQAAAAAOgAAAAAIAACAAAACDuam1+4TdsSWhb/gh2ExJhQyD4/73k824309gRZkgxlAAAAA40lWZ2eJAGIUxF3TYokkgamBVEf6aDpqxqrviXwb5YUBSYdkwHgdI6n4WILh1ZUrRKu6und5fiOXP+t8/YsTeoJf6Q0f29/hsGkOJXbIXuEAAAACGUwpF8Pvs11LI+FENdVFFpTmtTdity0LPYHGeLWW+X2i/Hkv3uho8cm4D+2FuKD2dIHvVaGUSq8MRb4zZACNW</value>
            </setting>
            <setting name="AllowedDepartments" serializeAs="String">
                <value>2704;2712;2701</value>
            </setting>
        </Castor.Properties.Settings>
    </applicationSettings>
</configuration>