<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Castor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Castor.Properties.Settings.sqlserverConnection" connectionString="Data Source=DESKTOP-J9NFCEV;Initial Catalog=deps;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Castor.Properties.Settings>
            <setting name="sqliteConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="contextValiant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastConnectedUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedDep" serializeAs="String">
                <value>2704</value>
            </setting>
            <setting name="postgreeConnection" serializeAs="String">
                <value>Host=172.23.1.220;Port=5432;Database=med;Username=SOLUTION_MED;Password=elsoft</value>
            </setting>
            <setting name="StartLoadingPage" serializeAs="String">
                <value>Castor.gui.movebook.Thebook</value>
            </setting>
            <setting name="AskUserBeforeStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RootDepartmentId" serializeAs="String">
                <value>1482</value>
            </setting>
            <setting name="dbPrefix" serializeAs="String">
                <value>\\Server-mis\общая папка\6 отделение</value>
            </setting>
        </Castor.Properties.Settings>
    </userSettings>
</configuration>