<!DOCTYPE html> 
<html> 
<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
<head>
    <style>
    p {{
        font-size: 16pt;
    }}
    table {{                        /* This CSS rule makes the table use 100% of its parent container's width */
        width: 100%;
        border-collapse: collapse;  /* Optional: Makes borders look nicer */
        font-size: 14pt;
    }}

    th, td {{
        border: 1px solid black;
        padding: 2px;
        text-align: left;
    }}

    th, td :nth-child(2) {{
        width: 20%;
    }}

    </style>
</head>
<body>
    {0} 
    <table>
        <tr>
            <td>Наименование</td>
            <td>Количество</td>
            <td>Из них несоверш.</td>
        </tr>
    
    {1} 
    {2} 
    {3} 
    {4}
    </table >
</body >
</html >